/* 기본 설정 */
html, body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button, input {
	border-radius: 0;
    border: 0;
}

/* 폰트 설정 */
body, button, input, select, table, textarea {
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: "Malgun Gothic", sans-serif;
}



.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	height: 1px;
}

.group-flex {
	position: relative;
    width: 1130px;
	height: 100%;
    padding: 0 30px;
  	margin: 0 auto;
}

.use-naver-icon {
	background-image: url(../img/naver_icon.png);
    background-size: 444px 439px;
}



/* header layout */
header {
	position: relative;
    height: 160px;
    background-color: #fff;
}

#header-top {
	position: absolute;
    top: 12px;
    right: 27px;
}

#header-top span {
	color: #888;
	letter-spacing: -1px; /*글자 간격*/
	font-size: 11px;
	line-height: 22px;
	padding: 0 4px 0 4px;
}

#header-center {
	position: relative;
	height: 100%;
}

#header-logo {
	position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -28px;
}

#header-logo .use-naver-icon {
	background-position: 0 -158px;
	background-repeat: no-repeat;
	
	display: inline-block;
    width: 223px;
    height: 56px;
}

#header-search {
	position: absolute;
    top: 50%;
    left: 268px;
    margin-top: -28px;
}

#header-search > fieldset {
	position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    border-radius: 2px;
	margin: 0;
	padding: 0;

}

#header-search fieldset input {
	width: 444px;
    height: 24px;
    padding: 13px 15px;
    margin: 1px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline: 0;
}

#header-search fieldset button {
	position: absolute;
	margin: 0;
	padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 52px;
    background-color: #19ce60;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

#header-search fieldset button .use-naver-icon {
    background-position: -420px -208px;
    background-repeat: no-repeat;
	display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: top;
}

#search-keyboard {
	position: absolute;
    top: 0;
    right: 84px;
    bottom: 0;
    width: 36px;
}

#search-keyboard .use-naver-icon {
    background-position: -300px -279px;
	background-repeat: no-repeat;
    display: inline-block;
	position: absolute;
    top: 50%;
    left: 50%;    
	width: 20px;
    height: 12px;
    margin: -6px 0 0 -10px;
}

#search-history {
	position: absolute;
    top: 0;
    right: 64px;
    bottom: 0;
    width: 22px;
}

#search-history .use-naver-icon {
    background-position: -96px -296px;
	background-repeat: no-repeat;	
    display: inline-block;
	position: absolute;
    top: 50%;
    left: 50%;    
    width: 10px;
    height: 5px;
    margin: -2px 0 0 -5px;
}



/* nav layout */
nav {
    border-top: 1px solid #e4e8eb;
    border-bottom: 1px solid #e4e8eb;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}

#nav-group {
	overflow: hidden;
    position: relative;
    padding: 11px 270px 11px 0
}

ul.nav-list {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;

}

.nav-list .nav-item+.nav-item {
    margin-left: 12px;
}

.nav-item {
	display: inline-block;
    position: relative;
    top: 3px;
}

nav li span:first-child {
	height: 16px;
	display: inline-block;
	background-image: url(../img/sp_nav.png);
	background-repeat: no-repeat;
	margin-left: 5px;
}

nav li:first-child span:first-child {
	width: 25px;
	background-position: 0px -285px;
	margin-left: 0px;
}

nav li:nth-child(2) span:first-child {
	width: 27px;
	background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
	width: 40px;
	background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
	width: 40px;
	background-position: -101px -156px;
}



/* main layout */
.test-border {
	outline: 1px solid #000;
}

main {
	overflow: auto;
}

main.group-flex {
    padding: 20px 30px;
	box-sizing: content-box;
}

#main-left {
	float: left;
	width: 750px;
}

#main-right {
	float: right;
	width: 350px;
}

#main-ad-top {
	width: 750px;
	height: 135px;
	background: url("../img/ad/main_ad.png") no-repeat;
}



#main-newsstand {
	width: 750px;
	height: 367px;
	margin-top: 12px;
}

#newsstand-header {
	position: relative;
	overflow: auto;
    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;
}

#newsstand-header .issue-area {
	float: left;
}

#newsstand-header .issue-area a {
	float: left;
    margin-right: 7px;
    font-size: 13px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

#newsstand-header .issue-area ol {
	overflow: hidden;
    float: left;
    width: 310px;
    height: 24px;
    margin: 0px;
    padding: 0px;
}

#newsstand-header:hover ol {
    height: 70px;
}



#newsstand-title {
	padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;
	overflow: auto;
}

#newsstand-title a:first-child span:nth-child(2) {
	float: left;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}

#newsstand-title a+a {
	float: left;
	margin-left: 10px;
	font-size: 14px;
    color: #505050;
}

#newsstand-list {
	position: relative;
    height: 260px;
    border: 1px solid #dae1e6;
}

#newsstand-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#newsstand-list li {
	position: relative;
    float: left;
    width: calc(100% / 6);
    height: 65px;
}

#newsstand-list li > a {
	display: block;
	padding: 23px 0 22px;
	text-align: center;
}

#newsstand-list .frame_area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.horizon-line {
	position: absolute;
    background-color: #e4e8eb;
    z-index: 1;
    left: 0;
    right: 0;
    height: 1px;
}

.vertical-line {
	position: absolute;
    background-color: #e4e8eb;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 1px;
}

.frame_area .to_right1 { top: 65px; }
.frame_area .to_right2 { top: 130px;}
.frame_area .to_right3 { top: 195px; }

.frame_area .to_bottom1 { left: 124px; }
.frame_area .to_bottom2 { left: 248px; }
.frame_area .to_bottom3 { left: 372px; }
.frame_area .to_bottom4 { left: 497px; }
.frame_area .to_bottom5 { left: 622px; }



#main-themecast {
	width: 750px;
	height: 2304px;
}



#main-login {
	box-sizing: border-box;
    width: 350px;
    height: 135px;
	padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
}

#main-timesquare {
	position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    letter-spacing: -.25px;
}

#main-ad-side {
    width: 350px;
    height: 200px;
	background: url("../img/ad/side_ad.png") no-repeat;
}

#main-shopcast {
    width: 350px;
    height: 1539px;
    margin-top: 15px;
}


/* footer layout */
footer {
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}