/* 가운데 정렬 */
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}



.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	height: 1px;
}

.center-align {
  	width: 1080px;
  	margin: 0 auto;
}



/* header layout */
#header-top {
	float: right;
}

#header-top span {
	color: #888;
	letter-spacing: -1px; /*글자 간격*/
	font-size: 11px;
	line-height: 22px;
}

#header-search {
	clear: both;
}

#header-search * {
	vertical-align: middle;
}

#header-search > a {
	text-decoration: none;
}

#header-search > a > h1 {
	display: inline-block;
	width: 198px;
	height: 48px;
	/* logo insert */
	background: url(../img/sp_search.png) -4px -4px no-repeat;
	/* text display none */
	text-indent: 100%;
	overflow: hidden;
}

#header-search > fieldset {
	width: 521px;
	height: 48px;
	border: 2px solid #03cf5d;
	margin-left: 20px;
	padding: 12px 0 12px 10px;
	display: inline-block;
	position: relative;
}

#header-search > fieldset > input {
	border: none;
	outline: none;
	padding: 0;
	vertical-align: top;
	width: 405px;
	height: 23px;
}

#header-search > fieldset > button {
	width: 49px;
	height: 48px;
	border: none;
	padding: 0;
	background: #03cf5d;
	position: absolute;
	right: -2px;
	top: -2px;
}

#search-button-img {
	background-image: url(../img/sp_search.png);
	background-position: -4px -60px;
	background-repeat: no-repeat;	
	width: 21px;
	height: 21px;
	display: inline-block;
}


/* nav layout */

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
}

nav li span:first-child {
	height: 16px;
	display: inline-block;
	background-image: url(../img/sp_nav.png);
	background-repeat: no-repeat;
	margin-left: 5px;
}

nav li:first-child span:first-child {
	width: 25px;
	background-position: 0px -285px;
	margin-left: 0px;
}

nav li:nth-child(2) span:first-child {
	width: 27px;
	background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
	width: 40px;
	background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
	width: 40px;
	background-position: -101px -156px;
}