/* 기본 설정 */
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button, input {
	border-radius: 0;
    border: 0;
}

/* 폰트 설정 */
body, button, input, select, table, textarea {
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: "Malgun Gothic", sans-serif;
}



.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	height: 1px;
}

.group-flex {
	position: relative;
    width: 1130px;
	height: 100%;
    padding: 0 30px;
  	margin: 0 auto;
}



/* header layout */
header {
	position: relative;
    height: 160px;
    background-color: #fff;
}

#header-top {
	position: absolute;
    top: 12px;
    right: 27px;
}

#header-top span {
	color: #888;
	letter-spacing: -1px; /*글자 간격*/
	font-size: 11px;
	line-height: 22px;
	padding: 0 4px 0 4px;
}

#header-center {
	position: relative;
	height: 100%;
}

#header-logo {
	position: absolute;
    top: 50%;
    left: -9px;
    margin: -32px 0 0 0;
}

#header-logo > a {
	display: inline-block;
	width: 222px;
	height: 52px;
	/* logo insert */
	background: url(../img/sp_search.png) -4px -4px no-repeat;
	/* text display none */
	text-indent: 100%;
	overflow: hidden;
}

#header-search {
	position: absolute;
    top: 50%;
    left: 222px;
    margin-top: -28px;
}

#header-search > fieldset {
	position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    border-radius: 2px;
	margin: 0;
	padding: 0;

}

#header-search > fieldset > input {
	box-sizing: content-box;
	width: 444px;
    height: 21px;
    padding: 13px 15px;
    margin: 1px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline: 0;
}

#header-search > fieldset > button {
	position: absolute;
	margin: 0;
	padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 52px;
    background-color: #19ce60;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

#search-button-img {
	background-image: url(../img/sp_search.png);
	background-position: -3px -60px;
	background-repeat: no-repeat;	
	display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: top;
}

#header-search .search-keyboard {
	position: absolute;
    top: 0;
    right: 84px;
    bottom: 0;
    width: 36px;
}

.search-keyboard span:first-child {
	background-image: url(../img/sp_search.png);
	background-position: -33px -60px;
	background-repeat: no-repeat;

    display: inline-block;
	position: absolute;
    top: 50%;
    left: 50%;    
	width: 20px;
    height: 12px;
    margin: -6px 0 0 -10px;
}

#header-search .search-history {
	position: absolute;
    top: 0;
    right: 64px;
    bottom: 0;
    width: 22px;
}

.search-history span:first-child {
	background-image: url(../img/sp_search.png);
	background-position: -87px -60px;
	background-repeat: no-repeat;	

    display: inline-block;
	position: absolute;
    top: 50%;
    left: 50%;    
    width: 10px;
    height: 6px;
    margin: -3px 0 0 -5px;
}



/* nav layout */
nav {
    border-top: 1px solid #e4e8eb;
    border-bottom: 1px solid #e4e8eb;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}

#nav-group {
	overflow: hidden;
    position: relative;
    padding: 11px 270px 11px 0
}

ul.nav-list {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;

}

.nav-list .nav-item+.nav-item {
    margin-left: 12px;
}

.nav-item {
	display: inline-block;
    position: relative;
    top: 3px;
}

nav li span:first-child {
	height: 16px;
	display: inline-block;
	background-image: url(../img/sp_nav.png);
	background-repeat: no-repeat;
	margin-left: 5px;
}

nav li:first-child span:first-child {
	width: 25px;
	background-position: 0px -285px;
	margin-left: 0px;
}

nav li:nth-child(2) span:first-child {
	width: 27px;
	background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
	width: 40px;
	background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
	width: 40px;
	background-position: -101px -156px;
}



/* main layout */
main {
	overflow: auto;
}

main.group-flex {
    padding: 20px 30px;
	box-sizing: content-box;
}

#main-left {
	float: left;
	width: 750px;
}


#main-right {
	float: right;
	width: 350px;
}



/* footer layout */
footer {
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}